<h1>Welcome to Yelpdemo</h1>
<h2>This is one of the sample applications I build to learn <%= link_to "Rails", "http://rubyonrails.org/" %></h2>
<p><%= link_to "Sign Up today", new_user_registration_path %></p>


